 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     color: #a09038;
     font-family: 'Poppins', sans-serif;
 } 

 ul {
     list-style: none;
    font-style: italic;
    display: flex;
    padding: 5px;
 }

 a {
     text-decoration: none;
 }

 body{
     background: url(./image/backgraund.jpg) no-repeat center center fixed;
     background-size: cover;
 }

header {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 30px;
}

header ul{
    display: flex;
    justify-items: left;
    
}

header ul li {
    padding: 1px;
    
}

 .container {
     text-align: center;
 }

 .container .name h1 {
     font-size: 60px;
 }

 .container .name h5 {
    font-size: 25px;
}

#about p{
    max-width: 600px;
    margin: 0 auto;
    background-color: #c096170c;
}

.form {
    width: 40%;
    margin: 0 auto;
    padding: 0px;
    margin-top: 40px;
}

.form p{
    margin-bottom: 12px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right, #c09717 50%, #9c551b 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #FFF;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin: -5px;

}
 
.form button:hover {
    background-position: left bottom;
    color: #FFF
}

